<nav class="navbar navbar-custom navbar-fixed-top">
  <div class="container">
      <button ng-if="!loggedIn() && atHomeView()" ng-click="login()" class="btn btn-primary navbar-btn navbar-right">Log In</button>
      <button ng-if="loggedIn()" ng-click="logout()" class="btn btn-primary navbar-btn navbar-right">Log Out</button>
      <button ng-if="!atProfileView() && loggedIn()" ng-click="goToProfile()" class="btn btn-default navbar-btn navbar-right">Profile Home</button>
      <button ng-if="!atDashView() && loggedIn() && isFoodbank()" ng-click="goToDashboard()" class="btn btn-default navbar-btn navbar-right">Dashboard</button>
      <button ng-if="!loggedIn() && !atHomeView()" ng-click="goToHome()" class="btn btn-primary navbar-btn navbar-right">Home</button>
  </div> <!-- /container for nav-->
</nav>
