body {
  /** override body background image shown on front page **/
  background-image: url();
}

h1 {
  font-size: 4em;
}

.profilepic {
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
  border-radius: 14%;
}

.profile-body {
  margin-top: 20px;
}

input {
  width: 12px;
  height: 12px;
}

.update-prompt {
  margin-left: 10px;
  font-weight: bold;
  color: green;
}

.update {
  margin-top: 42%;
  margin-left: 28%;
}

legend {
  margin-top: 20px;
}

.checkboxes {
  margin: 5px;
}
