body {
  /** override body background image shown on front page **/
  background-image: url();
}

h1 {
  font-size: 4em;
}

.profilepic {
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
  border-radius: 14%;
  width: 189px;
}

.profile-body {
  margin-top: 20px;
}

input {
  margin-right:10px;
  width: 15px;
  height:15px;
}

.update-prompt {
  margin-left: 10px;
  font-weight: bold;
  color: green;
}

.available {
  color: green;
}

.unavailable {
  color: red;
}

.main-content legend {
  margin: 15px 0;
}

.connection-box {
  margin-bottom: 15px;
  padding: 10px 10px 15px 10px;
  border: 1px solid #BBBBBB;
  border-radius: 5px;
}
.data-label {
  margin-bottom: 10px;
  font-weight: bold;
}

.row2 {
  margin-top: 15px;
}
