body {
  /** override body background image shown on front page **/
  background-image: url();
}

h1 {
  font-size: 4em;
}

.profilepic {
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
  border-radius: 14%;
  width: 189px;
}

.profile-body {
  margin-top: 20px;
}

input {
  margin-right:10px;
  width: 15px;
  height:15px;
}

.update-prompt {
  margin-left: 10px;
  font-weight: bold;
  color: green;
}
