<!-- /*protip: nocommas, no semicolons!*/ -->

.profilepic{
  overflow: hidden;
  border-radius: 14%;
  width: 189px;
  padding-top: 10px;
  padding-bottom: 10px;
}

<!-- /***sidebars start***/ -->
.name{
  font-size: 40px;
  vertical-align: center;
  height: 209px;
  padding-top: 55px;
}

.contribcount{
  font-size: 40px;
  margin-left: 80px;
}
<!-- /***sidebars end***/ -->



<!-- /***restaurant view 'pickups start'***/ -->
.pickupevent{
  padding-left: 0;
}

.eventli{
    box-shadow: rgb(255, 223, 212) 5px 0px 0px 0px inset; 
    height: 125px;
    border-bottom: 1px solid rgb(221, 221, 221);
    font: normal normal normal normal 13px / 15.6px Whitney, helvetica, arial, sans-serif;
    list-style: none outside none;
    outline: rgb(136, 136, 136) none 0px;
}

.eventli:after {
    clear: both;
}

.eventli .timebox{
   box-sizing:border-box; 
   float:left; 
   height:53px; 
   min-height:1px; 
   text-align:left; 
   width:96.9219px; 
   font:normal normal normal normal 13px / 15.6px Whitney,helvetica,arial,sans-serif; 
   padding:16px 0px 12px 16px
}

time {
    text-align: left;
    font: normal normal normal normal 16px / 19.2px Whitney, helvetica, arial, sans-serif;
}

/*am*/
.ampm {
    text-align: left;
    vertical-align: top;
    border-bottom: 1px solid rgb(170, 170, 170);
    font: normal normal normal normal 10px / 16px Whitney, helvetica, arial, sans-serif;
}

.eventli .fbk{
    color: rgb(136, 136, 136);
    float: left;
    height: 125px;
    min-height: 1px;
    text-align: left;
    width: 387.734px;
    list-style: none outside none;
    padding: 16px 16px 12px;
}
.phonenum {
    color: rgb(136, 136, 136);
}
<!-- /***restaurant view 'pickups end'***/ -->

.glyphicon-plus{
  float: right;
  cursor: pointer;

}

