html, body {
  background-color: #ededed;
  font-family: 'helvetica neue', sans-serif;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 4em;
}

h4 {
  padding: 0 15px;
}

/*.login {*/
  /*border-radius: 5px;*/
  /*padding: 5px;*/
  /*border: 1px solid black;*/
  /*background-color: #74C4D4;*/
/*}*/

.container {
  height: 100%;
  width: 1170px;
}

.landing {
  width: 100%;
  height: 100%;
  display: table;
}

.landing-body {
  width: 100%;
  height:100%;
  display: table-cell;
  vertical-align: middle
}

.intro-boxes {
  margin-top: 50px;
  display: block;
}
.restaurant-box,
.foodbank-box {
}

img {
  display: inline-block;
}

/*div[class*="col-"] {*/
  /*border: 2px dotted black;*/
/*}*/
