<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <style>
    .my-list {
      max-height: 300px;
      overflow-y: auto;
    }
  </style>
</head>
<div id="dashboard" ng-controller='DashboardCtrl as ctrl'>
<nav-bar></nav-bar>
<h1>Dashboard</h1>
  <p>Hello, Cindy</p>
  <div id="map"></div> <!--map-->
  <div id="restaurantInfo">
  <ul class="list-group my-list">
    <li class="list-group-item">Hi</li>
    <li class="list-group-item">hey</li>
  </ul>
  <button class="btn btn-default" ng-click="testVM.previous()">Scroll Previous</button>
  <button class="btn btn-default" ng-click="testVM.next()">Scroll Next</button>
  </div> <!--restaurant info-->
</div>