<nav-bar></nav-bar>
<div id="dashboard" ng-controller='DashboardCtrl as ctrl'>
<h3>Dashboard</h3>
  <p>Hello, {{ctrl.username}}</p>
  <div id="map"></div> <!--map-->
  <form id="restaurantInfo">
    <p><strong>List of Restaurant Vendor:</strong></p>
    <input type="text" placeholder="Filter" ng-model="ctrl.searchInput">
    <p></p>
    <ul id="nav" class="list-group" ng-repeat="restaurant in ctrl.rst | filter: ctrl.searchInput">
      <li id="nav" class="list-group-item" > 
      Restaurant Name: {{ restaurant.contactInfo.name }}
      <p>About Us: {{ restaurant.additional.aboutUs }}</p>
      <p>Address: {{ restaurant.contactInfo.streetName }}&nbsp;{{ restaurant.contactInfo.cityStateZip }}</p>
      <p>Url: {{ restaurant.websiteUrl }}</p>
      <p>Contact person: {{ restaurant.contactInfo.name }}</p>
      <p>Email: {{ restaurant.contactInfo.email }}</p>
      <p>Phone: {{ restaurant.contactInfo.phoneNumber }}</p>
      <p ng-show="restaurant.foodType.length !== 0">Food Type: {{ restaurant.foodType }}</p>
      <p ng-show="restaurant.mealType.length !== 0">Meal Type: {{ restaurant.mealType }} </p>
      <p ng-show="restaurant.pickupDay.length !== 0">Pickup Day: {{ restaurant.pickupDay }} </p>
      <p ng-show="restaurant.pickupTime.length !== 0">Pickup Time: {{ restaurant.pickupTime }} </p>
     </li>
    </ul>
  </form>
</div>